@import url('https://fonts.googleapis.com/css2?family=Prata&family=Nanum+Gothic&display=swap');

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
  background: #fefefa;
  font-size: 16px;
}

.about {
  display: flex;
  margin-top: 40px;
  margin-left: 28%;
  margin-right: 28%;
  text-align: center;
}

.section3 {
    font-family: 'Prata', cursive;

  display: flex;
  justify-content: center;
}

.genre {
    font-family: 'Prata', cursive;

  background-color: #d1e189;
  color: black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 100%;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}

.header {
  font-family: 'Prata', cursive;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.book {
  display: flex;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.book > .details {
  padding: 15px;
}

.book > .details > h3 {
  font-size: 18px;
  margin: 0px;
  padding-left: 10px;
}

.book > .details > h2 {
  padding: 0px;
  font-size: 24px;
  margin: 0px;
  border-bottom: 1px solid black;
}

img {
  width: 240px;
}

header {
  /*background-image: url("princessnokingdom2.jpg");
  background-position: center;*/
  background-color: #808000;
  /*background-color: #556b2f ;*/
  font-family: 'Prata', cursive;
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 0px;
  border-bottom: 20px double black;
}

footer {
  background: black;
  color: white;
  display: flex;
  padding: 40px;
  padding-left: 20%;
}

footer > div {
  margin: 10px;
  margin-top: 12px;
  border-bottom: 2px solid #808000;
}

button {
  background-color: #808000;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  text-emphasis-style: bold;
  border: none;
}

.section4 {
  margin-top: 60px;
  margin-bottom: 100px;
}

/* styling for header from: https://tobiasahlin.com/moving-letters/#11 */
.page_title {
  font-weight: 700;
  font-size: 3.5em;
  margin: 20px;
}

.page_title .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.page_title .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.page_title .line1 { 
  top: 0; 
  left: 0;
}

.page_title .letter {
  display: inline-block;
  line-height: 1em;
}
