/*css document*/

* {
    /* pick a font for the whole document? */
    font-family: Candara, serif;
    font-size: 100%;
}

body {
    /* remove pesky margin */
    margin: 0px;
}

.mainimage {
    /* for future images */
    width: 50%;
    margin: 40px;
}

img {
    /* for future images */
    height: 100%;
    width: 100%;
    object-fit: cover;
}

header {
    /* applies to all pages */
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

h1 {
    /* biggest text/title for each page */
    font-family: "Book Antiqua", serif;
    display: flex;
    justify-content: center;
    font-size: 250%;
    margin: 2%;
    margin-bottom: 0.5%;
    padding: 0px;
}

a:visited {
    color: grey;
}

.header {
    /* class of a div around the menu links */
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;
    margin-left: 7%;
    margin-right: 7%;
}

.header > h2 {
    /* specifically the menu h2 */
    display: flex;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
    margin: 0;
}

h2 {
    /* applies to all h2 text */
    font-size: 120%;
    margin: 0px;
    padding: 0px;
}

.columndiv {
    /* applies to div section in main page, could be multi use */
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 400px;
    margin: 40px;
    padding: 10px;
    /* got line below from w3 tutorial */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

p {
    /* all p in the website */
    color: grey;
    margin: 0px;
    padding: 0px;
}

footer > div {
    /* only the p for the footer */
    border: none;
    color: white;
    font-size: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 30%;
    margin-right: 30%;
}

.footerbox {
    display: flex;
    justify-content: center;
}

.footerbox > div {
    margin-left: 20px;
    margin-right: 20px;
}

.main {
    /* items with class main need to be flex containers and */
    /* organize them side by side (the default) */
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 5%;
}

footer {
    /* applies to all pages */
    background-color: grey;
    border: 1px grey solid;
}

ul {
    /* used in projects, should have a layout? */
    color: white;
    margin: 0%;
    padding-left: 0%;
}
