@import url('https://fonts.googleapis.com/css2?family=Prata&family=Nanum+Gothic&display=swap');

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
  background: #fefefa;
  font-size: 100%;
}

.about {
  font-size: 1.01em;
  display: flex;
  margin-top: 40px;
  margin-left: 26%;
  margin-right: 26%;
  text-align: center;
}

header {
  /*background-image: url("princessnokingdom2.jpg");
  background-position: center;*/
  /*background-color: #808000;*/
  background-color: #8a9a5b;
  /*background-color: #556b2f ;*/
  font-family: 'Prata', cursive;
  color: white;
  /*padding-top: 20px;
  padding-bottom: 0px;*/
  border-bottom: 8px double black;
}

header > h1 {
  font-size: 4.0em;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding-top: 30px;
  border-bottom: 8px double black;
}

header > h2 {
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 5px;
}

footer {
  font-size: .9em;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  padding-top: 30px;
}

footer > div {
  display: flex;
  margin: 10px;
  margin-top: 12px;
  border-bottom: 2px solid #8a9a5b;
}

footer > div > div {
  /*padding: 10px;*/
  padding-right: 20px;
  padding-left: 20px;
}

footer > div > div > h3 {
  font-size: 1em;
  padding: 0px;
  margin: 0px;
}

footer > div > div > ul {
  padding-left: 18px;
  margin-top: 5px;
}

.main {
    /* items with class main need to be flex containers and */
    /* organize them side by side (the default) */
    margin-top: 5%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h2 {
    /* applies to all h2 text */
    font-size: 120%;
    margin: 0px;
    padding: 0px;
}

.columndiv {
  border: 2px solid black;
  display: flex;
  margin: 20px;
  cursor: pointer;
}

.columndiv:hover > .columntext {
  color: #8a9a5b;
  text-decoration: underline;
}

.image {
    /* got line below from w3 tutorial */
    height: 100px;
    width: 100px;
    margin: 10px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.columntext {
    border: 2px solid black;
    width: 200px;
    margin: 10px;
    padding: 5px;
}

.columntext > p {
    /* all p in the website */
    color: #696969;
    margin: 0px;
    padding: 0px;
}

.blank {
  margin: 10%;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #696969;
}

.home {
  padding: 5px;
  font-size: 2.0em;
  color: black
}

.home:hover {
  color: #8a9a5b;
}

.blog {
  margin: 10%;
}


/* styling for header from: https://tobiasahlin.com/moving-letters/#11 */
/*
.page_title {
  font-weight: 700;
  font-size: 3.5em;
  margin: 20px;
}

.page_title .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.page_title .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.page_title .line1 { 
  top: 0; 
  left: 0;
}

.page_title .letter {
  display: inline-block;
  line-height: 1em;
}
*/