body {
  display: flex;
  flex-direction: column;
  background: black;
}

header {
  color: white;
  display: flex;
  justify-content: center;
}

.game-container {
  display: flex;
  justify-content: center;
}

.grid { 
  border: 0px blue solid;
  position: relative;
}

.game {
  position: relative;
  border: 5px black solid;
  width: 301px;
  display: grid;
  grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
  grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
}


.game-board {
  position: absolute;
  top: 6px;
  left: 6%;
  border: 0px green solid;
  /*object-fit: contain;*/
}
 
.play-button {
  background-color: pink;
  margin: 10px;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
}
