/* copied element organization from css Zen Garden default style v1.02
  to start with; used my own values/fonts/colors */
html {
  margin: 0;
  padding: 0;
}

body {
  border: 1px red solid;
  /* choose font */
  font: 75% georgia, sans-serif;
  /* pick a line height */
  line-height: 1;
  /* font color */
  color: #555753;
  /* background color */
  background: tan;
  margin: 0;
  padding: 0;
}

p {
  border: 1px red solid;
  margin-top: 0;
  /* spreads text across any given width */
  text-align: justify;
}

h3 {
  /* pick a font for the headers */
  margin-bottom: 0;
  color: blue;
}

a:link {
  font-weight: bold;
  text-decoration: none;
  color: pink;
}
a:visited {
  font-weight: bold;
  text-decoration: none;
  color: lightpink;
}
a:hover, a:focus, a:active {
  text-decoration: underline;
  color: red;
}
abbr {
  border-bottom: none;
  color: yellow;
}

.page-wrapper {
  /* this is cool, I didn't know you could do this */
  /*background: url(http://csszengarden.com/001/zen-bg.jpg) no-repeat top left;*/
  padding: 0 200px 0 200px; 
  margin: 0;
  position: relative;
}

.intro {
  /* sets the minimum width of the block item */
  min-width: 400px;
  width: 100%;
}

header h1 {
  color: orange;
}

header h2 {
  color: indigo;
}

header {
  height: 87px;
}

.summary {
  /* what does this do? */
  clear: both;
  border: 1px red solid;
}

.summary p {
  font: italic 1.1em/2.2 georgia;
  text-align: center;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar li {
  background: grey;
}

.sidebar li a:link {
  color: khaki;
}

.sidebar li a:visited {
  color: cadetblue;
}
